body{
    font-size: 1rem;
    background-color: thistle;
    font-family: cursive;
}

.titulo{
    font-size: 2rem;
    text-align: center;
    }

header{
    text-align: center;
}

header ul{
    /* display: flex; */
    gap: 20px;
    
}

header a{
    font-size: 1.5rem;
    
}

header li{
    display: inline;
    
    
}